name: CI-CD Workflow

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    build-test-deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.10"

            - name: Install dependencides
              run: |
                  pip install --upgrade pip
                  pip install -r app/requirements.txt

            - name: Run tests
              run: pytest tests/

            - name: Log into ECR
              uses: aws-actions/amazon-ecr-login@v1

            - name: Install Docker
              uses: |
                  sudo apt-get update
                  sudo apt-get install -y docker.io

            - name: Build docker image
              run: |
                  docker build -t ${{ secrets.AWS_ECR_REPOSITORY_NAME }}:latest .

            - name: Tag docker image
              run: |
                  docker tag ${{ secrets.AWS_ECR_REPOSITORY_NAME }}:latest ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/${{ secrets.AWS_ECR_REPOSITORY_NAME }}:latest

            - name: Push Docker images to ECR
              run: |
                  docker push ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/${{ secrets.AWS_ECR_REPOSITORY_NAME }}:latest
